.ShakeSearch {
    text-align: left;
    background-color: inherit;
    font-size: calc(1vh + 1vw);
    padding-right: 10%;
    float: right;
    flex: .75 0;
    outline: none;
}
.ShakeSubmit {
    background-color: inherit;
    border-color: transparent;
    width: 5vw;
    position: relative;
    -fill-mode: forwards;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
@keyframes SubmitButtonMoveRight {
    0% {opacity: 0.0; left: 0%;}
    25% {opacity: 0.25; left: .25%;}
    50% {opacity: 0.5; left: .5%;}
    75% {opacity: 0.75; left: .75%;}
    100% {opacity: 1; left: 1%;}
}
@keyframes LineMoveOut {
    0% {opacity: 1; right: 0%;}
    25% {opacity: 0.75; right: 25%;}
    50% {opacity: 0.5; right: 50%;}
    75% {opacity: 0.25; right: 75%;}
    100% {opacity: 0; right: 100%;}
}
@keyframes LineMoveIn {
    100% {opacity: 1; right: 0%;}
    75% {opacity: 0.75; right: 25%;}
    50% {opacity: 0.5; right: 50%;}
    25% {opacity: 0.25; right: 75%;}
    0% {opacity: 0; right: 100%;}
}
@keyframes SSMoveOut {
    0% {opacity: 1; left: 0%;}
    25% {opacity: 0.75; left: 25%;}
    50% {opacity: 0.5; left: 50%;}
    75% {opacity: 0.25; left: 75%;}
    100% {opacity: 0; left: 100%;}
}
@keyframes SSMoveIn {
    100% {opacity: 1; left: 0%;}
    75% {opacity: 0.75; left: 25%;}
    50% {opacity: 0.5; left: 50%;}
    25% {opacity: 0.25; left: 75%;}
    0% {opacity: 0; left: 100%;}
}
@keyframes PaperMoveIn {
    100% {opacity: 1; top: 0%;}
    90% {opacity: .9; top: 10%;}
    75% {opacity: 0.75; top: 25%;}
    60% {opacity: .6; top: 40%;}
    50% {opacity: 0.5; top: 50%;}
    40% {opacity: .4; top: 60%;}
    25% {opacity: 0.25; top: 75%;}
    10% {opacity: .1; top: 90%;}
    0% {opacity: 0; top: 100%;}
}
.Magnifer {
    background-color: inherit;
    height: 100%;
    width: 5vw;
}
.SubmitImage {
    background-color: inherit;
    height: 5vh;
    width: 5vw;
}
.SearchDiv {
    width: inherit;
    float: right;
    margin: 25% 10% auto 25%;
}
.ShakeDiv {
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100%;
}
.Underline {
    height: 100%;
    position: relative;
    width: 100%;
}
.Shakespeare {
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 75%;
}
.Whiteline {
    height: 100%;
    width: 75%;
}
.LeftPane {
    margin: auto;
    height: 100vh;
    float: left;
    flex-direction: column;
}
.RightPane {
    margin: auto;
    float: left;
    position: relative;
    height: 100vh;
}
.Search {
    display: inline-block;
    width: 100vw;
}
.Paper {
    height: 90vh;
    width: 80%;
    display: flex;
    margin: 5% auto auto 10%; 
    background-color: white;
    border-radius: 10px;
    position: relative;
    max-width: inherit;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0% 5% 5% 5%;
    max-height: 90vh;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
.Results {
    overflow-y: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.quotes {
    margin: 5%;
}

input {
    border: 0;
}
input::placeholder {
    overflow: visible;
    text-align: center;
}
input:focus::placeholder {
    color: transparent;
}
.Results::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}